name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release --all-features

    - uses: actions-rs/cargo@v1
      with:
        command: test
        args: --release --all-features

